.cart {

    &__footer {
        display: grid;
        grid-template-columns: 5fr 3fr 4fr;
        column-gap: 30px;
        padding: 19px 0;
        background-color: #EAEFF2;
        font-size: 18px;
        font-weight: 700;
        line-height: 120%; 
        text-transform: uppercase;
        @media(max-width: 600px) {
            padding: 19px 15px;
            grid-template-columns: 1fr 1fr;
            font-size: 15px;
        }
       
    }

    &__footer-count {
        grid-column-start: 2;
        @media(max-width: 600px) {
            grid-column-start: 1;
        }
    }

    &__footer-price {
    }
}
